[flake8]
application_import_names = shop, core, cart, orders, payment
inline-quotes = double
exclude = .git, __pycache__, migrations, venv
import-order-style = google
max-line-lenght = 79
max-complexity = 10